<%= form_for(@authority_object) do |f| %>
  <% if @authority_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@authority_object.errors.count, "error") %> prohibited this authority_basis from being saved:</h2>

      <ul>
      <% @authority_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
