<h1>Listing authority_bases</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authority_bases.each do |authority_base| %>
      <tr>
        <td><%= link_to authority_base.display_value, authority_base %></td>
        <td><%= link_to 'Edit', edit_authority_basis_path(authority_base) %></td>
        <td><%= link_to 'Destroy', authority_base, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Base', new_authority_basis_path %>
