
<!--Administrative metadata -->
<fieldset class="row" id="administrative">
  <legend class="col-sm-12">
    Administrative metadata
  </legend>
  <div class="col-sm-12">
    <div class="form-group">
      <label for="samling">Ansvarlig samling</label>
      <select class="form-control" id="samling">
        <option>Liste over samlinger</option>
      </select>
    </div>
    <hr>
  </div>
  <div class="col-sm-12">
    <div class="checkbox">
      <label class="checkbox-inline">
        <input type="checkbox" value="">
        Tilgængeliggørelse
      </label>

      <label class="checkbox-inline">
        <input type="checkbox" value="" checked>
        Klausulering
      </label>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="klausuleringstype">Klausuleringstype</label>
      <select class="form-control" id="klausuleringstype">
        <option>Usynlig for eksterne</option>
      </select>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="find">Find person/samling</label>
      <input class="form-control" id="find" placeholder="Find person/samling">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="udløb">Udløb</label>
      <input class="form-control" id="udløb" placeholder="Udløb">
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label for="ophavsretligInfomation">Ophavsretlig infomation</label>
      <select class="form-control" id="ophavsretligInfomation">
        <option>Ukendt</option>
      </select>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label for="bevaringsprofil">Bevaringsprofil</label>
      <select class="form-control" id="bevaringsprofil">
        <option>Storage</option>
      </select>
    </div>
  </div>
</fieldset>