<div class="input file optional">
  <label class="file optional">Content files</label>
  <input class="file optional" name="<%="#{@instance.class.to_s.downcase}[content_files][]" %>" type="file">
  <button type="button" class="btn btn-default" data-function="clone-input">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Tilføj flere filer
  </button>
</div>