<sidebar>
  <h4><%=t '.go_to' %></h4>
  <ul class="nav nav-pills nav-stacked" id="myNav">
    <li><a href="#bibliographic" class="">Bibliografiske metadata</a></li>
    <li><a href="#administrative" class="">Administrative metadata</a></li>
    <li><a href="#upload" class="">Fil upload</a></li>
  </ul>
</sidebar>