<a id="upload"></a>
<% if @instance.content_files.blank? %>
    <fieldset id="upload" class="row">


      <legend class="col-sm-12" >
        Upload Ny Fil
      </legend>
      <div class="input file optional">
        <label class="file optional">Content files</label>
        <input class="file optional" name="<%="#{@instance.class.to_s.downcase}[content_files][]" %>" type="file">
      </div>
    </fieldset>

<% else %>

    <% if can?(:edit,@instance.content_files.first) %>
        <fieldset id="upload" class="row">
          <legend class="col-sm-12" >
            Upload Ny Fil
          </legend>

          <div class="input file optional">
            <label class="file optional">Content files</label>
            <input class="file optional" name="<%="#{@instance.class.to_s.downcase}[content_files][]" %>" type="file">
          </div>
        </fieldset>
    <% end %>

    <fieldset id="upload" class="row">
          <legend class="col-sm-12" >
            Eksisterende fil
          </legend>
          <%if can?(:show,@instance.content_files.first) %>
            <dl class="dl-horizontal">
            <% @instance.content_files.each do |cf| %>
              <dt><%= cf.original_filename %></dt>

              <% if can?(:download, cf) %>
                <dd><%= link_to "Download", download_content_file_path(cf)%></dd>
              <% end %>
            <% end %>
            </dl>
          <% else %>
              Du har ikke adgang til at se filen
          <% end %>
    </fieldset>

<% end %>