<%- model_class = Instance -%>
<div class="page-header">
  <h1><%=t 'helpers.titles.administration', :default => [:'helpers.titles.administration', 'Administration for %{model}'], :model => model_class.model_name.human %></h1>
</div>

<%- @object = @instance-%>
<%= render 'administration' %>

<%= render 'footer' %>