<p id="notice"><%= notice %></p>
<!--
    :activity,
    :preservation_profile, 
    :availability,
    :collection, 
    :embargo,
    :embargo_condition,
    :access_condition,
    :preservation_profile
-->

<%= link_to 'Edit', edit_administration_activity_path(@activity) %> |
<%= link_to 'Back', administration_activities_path %>
