<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Importer fra Aleph</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@work, url: aleph_works_path) do |f| %>
            ISBN
            <input name="work[isbn]"/>
            <%= f.button :button, 'Import', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>