<div class="modal fade" id="new_agent_modal" tabindex="-1" role="dialog" aria-labelledby="new_agent_modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <%= render partial: 'authority/people/form', locals: {remote: true} %>
      </div>
    </div>
  </div>
</div>


