<div class="row">
  <div class="col-sm-offset-4">
    <div class="btn-group" data-hook="dropdown-button">
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        Tilføj ny instans <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a href="<%= new_work_trykforlaeg_path(@work) %>">
          Trykforlaeg
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>