<script>
  //$(document).ready(function(){

</script>

<div class="btn-group" data-hook="dropdown-button">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Tilføj ny instans <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="<%= new_trykforlaeg_path %>" data-remote="true" data-role="form-loader">Trykforlaeg</a></li>
</ul>
</div>