
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <% if current_user %>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-plus"></span> Opret <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <% if can?(:create,Work) %>
                <li><%= link_to 'Nyt værk', new_work_path %></li>
            <% end %>
            <%# if can?(:create,Authority::Person) %>
                <li><%= link_to 'Ny person', new_authority_person_path %></li>
            <%# end %>
          </ul>
      <% else %>

      <% end %>
    </li>
  </ul>
