<div class="navbar navbar-inverse" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Valhal</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-user"></span> Tom Juul Andersen <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">Mine Opgaver</a></li>
            <li><a href="">Administrator</a></li>
            <li><a href="">Log ud</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>