     
      <% # header bar for doc items in index view -%>
      <div class="documentHeader row">
        
        <%# main title container for doc partial view 
            How many bootstrap columns need to be reserved
            for bookmarks control depends on size. 
        -%>
         <h5 class="index_title col-sm-9 col-lg-10">
         <% counter = document_counter_with_offset(document_counter) %>
         <span class="document-counter">
         <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
         </span>
           <% #Override the main title container view in Blacklight so that the hyperlink for the Book or Person links to the landing page for it  %>
           <a href="<%= "/#{document["active_fedora_model_ssi"].underscore.pluralize.to_s.downcase}/#{document.id.to_s}" %>">
             <%=(document[document_show_link_field].blank?) ? "No Title" : document[document_show_link_field].first%>
           </a>
        </h5>

        <% # bookmark functions for items/docs -%>
        <%= render_index_doc_actions document, :wrapping_class => "index-document-functions col-sm-3 col-lg-2" %>
      </div>
      
